@using System.Runtime.InteropServices
@{
    ViewData["Title"] = "Home Page";

    var frameworkDescription = $"{RuntimeInformation.FrameworkDescription}, {RuntimeInformation.ProcessArchitecture}";
}

<div>

    <h4><code>HttpClient</code> request to an Azure VNet IP vs. a request to a non-Azure VNet IP</h4>

    <ul>
        <li><a asp-action="VNetRequest" asp-controller="Home">HttpClient GET to VNET IP</a></li>
        <li><a asp-action="NonVNetRequest" asp-controller="Home">HttpClient GET to non-VNET IP</a></li>
    </ul>

    <p>
        <code>@frameworkDescription</code>
    </p>

</div>
